.grid{
    font-family: "Courier New";
}

#palavras_cruzadas{
    border: 1px solid blue;
    text-align: center;
    border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.formulario{
        border: none;
        text-align: center;
        border-collapse: collapse;
		width: 50px;
		height:50px;
}

td {
    border: 1px solid black;
}
h1{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

h3{
    text-align: center;
}

#fundo_jogo {
    float: left;
   margin: 10px;
}

.escrita {
    text-align: left;
    border: 1px solid black;
    padding-left: 10px;
    width: 300px;
    height: 494px;
    float: left;
    margin: 10px;
}

#botao{
    margin: 10px;
    width: 150px;
    height: 50px;
}

