tr{
	margin: 0;
	padding: 0;
}

td{
	height: 10px;
	width: 10px;
}

#palavras_cruzadas{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.formulario{
        border: 1px none black;
        text-align: center;
        border-collapse: collapse;
		width: 30px;
		height:30px;
}

#fundo_jogo {
    float: left;
}
