body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.grid{
    font-family: "Courier New";
}

#palavras_cruzadas{
    border: 0px solid blue;
    text-align: center;
    border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
}

.formulario{
        font-family: 'Courier New', Courier, monospace;
        border: none;
        text-align: center;
        border-collapse: collapse;
		width: 50px;
		height:50px;
}

td {
    border: 0px solid black;
}
h1{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

h3{
    text-align: center;
}

#fundo_jogo {
   margin-top: 10px;
   margin-bottom: 10px;
}

#botao{
    margin: 10px;
    width: 150px;
    height: 50px;
}

#dica {
    width: 65%;
    border: 1px solid black;
    margin: 0 auto;
    background-color: white;
}

.subtitulo {
    color: grey;
    font-size: 11px;
}

